services:
  bot:
    build:
      dockerfile: ./Dockerfile
      context: ./bot
    ports:
      - ${DEBUGPY_PORT}:${DEBUGPY_PORT}
    environment:
      - DEBUG=${DEBUG}
      - BOT_TOKEN=${BOT_TOKEN}
      - AI_API_URL=${AI_API_URL}
      - AI_API_KEY=${AI_API_KEY}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - PYDEVD_DISABLE_FILE_VALIDATION=1
      - DEBUGPY_PORT=${DEBUGPY_PORT}
    volumes:
      - ./bot/migrations:/livent_bot/migrations
    depends_on:
      mysql:
        condition: service_healthy
  mysql:
    image: mysql:9.5.0
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping"]
      interval: 3s
      timeout: 3s
      retries: 5
  phpmyadmin:
    image: phpmyadmin:5.2.3
    ports:
      - 8000:80
    environment:
      - PMA_USER=${MYSQL_USER}
      - PMA_HOST=${MYSQL_HOST}
      - PMA_PASSWORD=${MYSQL_PASSWORD}
      - PMA_PORT=3306
    depends_on:
      mysql:
        condition: service_healthy
volumes:
  mysql-data:
