services:
  bot:
    build:
      dockerfile: ./Dockerfile
      context: ./bot
    environment:
      - IS_DEV_MODE=${IS_DEV_MODE}
      - BOT_TOKEN=${BOT_TOKEN}
      - AI_API_URL=${AI_API_URL}
      - AI_API_KEY=${AI_API_KEY}
      - MYSQL_USERNAME=${MYSQL_USERNAME}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - DEV_MYSQL_USERNAME=${DEV_MYSQL_USERNAME}
      - DEV_MYSQL_HOST=${DEV_MYSQL_HOST}
      - DEV_MYSQL_PASSWORD=${DEV_MYSQL_PASSWORD}
      - DEV_MYSQL_DATABASE=${DEV_MYSQL_DATABASE}
    volumes:
      - ./bot/migrations:/livent_bot/migrations
  dev-mysql:
    image: mysql:latest
    ports:
      - 3306:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_PASSWORD=${DEV_MYSQL_PASSWORD}
      - MYSQL_USER=${DEV_MYSQL_USERNAME}
      - MYSQL_DATABASE=${DEV_MYSQL_DATABASE}
    volumes:
      - mysql-data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8000:80
    environment:
       - PMA_USER=${DEV_MYSQL_USERNAME}
       - PMA_HOST=${DEV_MYSQL_HOST}
       - PMA_PASSWORD=${DEV_MYSQL_PASSWORD}
       - PMA_PORT=3306
volumes:
  mysql-data:
